<!DOCTYPE html>
<html lang="zh-CN">
	<head>
		<link rel="icon" href="../favicon.png">
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport"
			content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
		<title>
			<%= htmlWebpackPlugin.options.title %>
		</title>
		<script>
			document.addEventListener('DOMContentLoaded', function() {
				document.documentElement.style.fontSize = document.documentElement.clientWidth / 20 + 'px'
			})
		</script>
		<link rel="stylesheet" href="<%= BASE_URL %>static/index.<%= VUE_APP_INDEX_CSS_HASH %>.css" />
	</head>
	<body>
		<noscript>
			<strong>Please enable JavaScript to continue.</strong>
		</noscript>

		<script>
			if (window.innerWidth > 768) {
				document.querySelector('#app').remove();
				const iframe = document.createElement('iframe');
				iframe.src = location.href;
				iframe.width = '415px';
				iframe.height = '736px';
				document.body.appendChild(iframe);
			}
		</script>
		<div id="app"></div>
		<div style="text-align:center;width: 95%;margin: 0 auto; font-size: 40%; margin-top: 20px;">
			<div style="color: gray">@2023 后厂花开</div>
			<div><a href="https://beian.miit.gov.cn/" style="color: gray;text-decoration:none;"
					target="_blank">京ICP备20013503号-1</a></div>
		</div>
		<!-- built files will be auto injected -->
	</body>
</html>